# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea
bin
tcp
vendor
get.txt
*.iml
.DS_Store

/api/*_tcd.go
/api/client/*_tcd.go
/api/invoke/*_tcd.go